.lists{
    width:100%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.lists button{
    height: 3vh;
    align-self: center;
    background-color: rgb(202, 89, 89);
    color: aliceblue;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.lists button:hover{
    background-color: rgb(252, 44, 44);
}